<%= render partial: 'shared/header', locals: { current: 'setting' } %>

<main class="inner" id="users">
  <h1>アカウント編集</h1>
  <div id="form">
    <%= form_for(@user) do |f| %>

      <table>
        <tr>
          <th><%= f.label :name, '名前' %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :email, 'メールアドレス' %></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :password, 'パスワード' %></th>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, '確認' %></th>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <th><%= f.label :language, '言語コードの再設定' %></th>
          <td><%= f.text_field :language %></td>
        </tr>
      </table>
    
      <div class="a-right">
        <%= f.submit 'アカウントを編集する', :class =>'btn' %>
      </div>
    
    <% end %>
  </div>
</main>

<%= render partial: 'shared/footer' %>