<%= render partial: 'shared/header', locals: { current: 'timeline' } %>

<main class="inner">
  <div id="form">
    <%= link_to 'New Post', new_post_path, :class =>'btn' %>
    
    <!-- <p>ログインするとすべての投稿があなたの見たい言語で見られるようになります！登録は右上のボタンから！</p> -->
    <p id="notice"><%= notice %></p>
  </div>


  <div id="timeline">
    <% if signed_in? %>
      <% @posts.each do |post| %>
      <div class="box">
        <div class="prof">
          <%= image_tag 'prof_icon/icon_panda.png', :class =>'icon' %>
        </div>
        <div class="message">
          <p class="name"><%= post.user_name %></p>
          <%= translate_timeline(post.content) %>
          <p class="date"><%= post.created_at.in_time_zone('Tokyo') %></p>
        </div>
      </div>
      <% end %>

    <% else %>
      <% @posts.each do |post| %>
      <div class="box">
        <div class="prof">
          <%= image_tag 'prof_icon/icon_panda.png', :class =>'icon' %>
        </div>
        <div class="message">
          <p class="name"><%= post.user_name %></p>
          <%= post.content %>
          <p class="date"><%= post.created_at.in_time_zone('Tokyo') %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div><!-- /#timeline -->

</main>

<%= render partial: 'shared/footer' %>